.contact-preview{
    display: flex;
    background-color: #ff7c7c4f;
    padding: 5px;
    width: 300px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 15px;
    img{
        width: 60px;
        border-radius: 50%;
    }
    h3{
        margin-inline: 15px;
        justify-self: center;
        align-self: center;
    }
}